<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>會員頁面</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="login_box">

        <div class="header">歡迎光臨，這是會員頁</div>
        <div class="login_form">
            <span>{{ n }}，恭喜您，成功登入系統</span>
            <br>
            <a href="/signout">登出</a>　
            <a href="/">回首頁</a>
        </div>

    </div>
    
</body>
</html>