<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>註冊成功</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="login_box">

        <div class="header">您已經註冊成功</div>
        <div class="login_form">
            <span>註冊成功，請回<a href="/">首頁</a>重新登入。</span>
            <br>
            
        </div>

    </div>
    
</body>
</html>